body{
    background-color: #bcb5b5;
}
.main {
  width: 300px;
  height: 500px;
  background: #f5f5f5;
border: 2px solid #ccc;
  padding: 100px;
  border-radius: 35px;
  text-align: center; 
  box-shadow: 0 4px 8px rgba(128, 6, 6, 0.1);
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  position: relative;
  /* margin: top right bottom left; */
  
}


#new {
  background-color: rgb(32, 183, 32);
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  top: 20px;   
  right: 20px; 
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.profile-img {
  width: 300px;       
  height: 300px;      
  border-radius: 50%; 
  display: block;     
 margin: -50px auto 10px auto; 

}

button{
    border-radius: 10px;
    margin-top: 20px;
    width: 320px;
    height: 65px;
    background-color: rgb(235, 235, 235);
    font-weight: bold;
    font-size: x-large;
    border: #ccc;
}

h1{
margin-top: 10px;   /* upar se chhota space */
  margin-bottom: 5px; /* neeche se chhota space */

}

.one{
     font-size: x-large;
  margin-top: 10px;  
  margin-bottom: 10px; 
}

.two{
    text-align: justify;
}




